name: CI

on:
  push:
    branches:
      - main
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Testing
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup babashka
        uses: DeLaGuardo/setup-clojure@13.5
        with:
          bb: 1.1.173
      - name: Run tests
        run: bb test
